<?xml version='1.0'?>
<!-- Copyright (c) 2016 Robert Bosch GmbH, Germany.
     All rights reserved.

    This file is licensed under the Apache 2.0 license found in the
    LICENSE file in the root directory of this source tree.
-->
<model>
  <name>NED frame</name>
  <version>0.0.1</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Musa Marcusso</name>
    <email>musa.marcusso@de.bosch.com</email>
  </author>
  <description>
    Definition of a virtual NED frame that will serve as reference to the underwater robots
  </description>
</model>
