<?xml version="1.0"?>

<model>
  <name>Umbilical</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Sebastian Scherer</name>
    <email>sebastian.scherer2@de.bosch.com</email>
  </author>

  <description>
    The skeleton umbilical model.
  </description>
</model>
