<?xml version="1.0" ?>
<!-- Copyright (c) 2016 Robert Bosch GmbH, Germany.
     All rights reserved.

    This file is licensed under the Apache 2.0 license found in the
    LICENSE file in the root directory of this source tree.
-->
<model>
    <name>ROV BOP Panel</name>
    <version>0.0.1</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Musa Morena Marcusso Manhaes</name>
        <email>musa.marcusso@de.bosch.com</email>
    </author>
    <description>ROV blow-out preventer panel</description>
</model>
