<?xml version="1.0"?>
<!-- Copyright (c) 2016 The UUV Simulator Authors.
     All rights reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="oberon4_gazebo_macro" params="namespace">

  <gazebo reference="${namespace}/base">
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="${namespace}/azimuth_link">
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="${namespace}/arm">
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="${namespace}/wrist">
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="${namespace}/gripper_base">
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="${namespace}/jaw_1">
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="${namespace}/jaw_2">
    <selfCollide>false</selfCollide>
  </gazebo>

  <gazebo reference="${namespace}/anchor">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>

  <gazebo reference="${namespace}/azimuth">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>

  <gazebo reference="${namespace}/shoulder">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>

  <gazebo reference="${namespace}/wrist_joint">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>

  <gazebo reference="${namespace}/gripper_joint">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>

  <gazebo reference="${namespace}/jaw_2_joint">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>

  <gazebo reference="${namespace}/jaw_1_joint">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
</xacro:macro>

<!--
  Parameters for the uuv_underwater_object_plugin that includes the implementation
  of Fossen's equations of motion for underwater vehicles. This parameters will
  be loaded by the vehicle where it is installed.
-->
<xacro:macro name="oberon4_hydro_model" params="namespace">
  <link name="${namespace}/base">
    <volume>${base_volume}</volume>
    <box>
      <width>${base_y}</width>
      <length>${base_x}</length>
      <height>${base_z}</height>
    </box>
    <hydrodynamic_model>
      <type>fossen</type>
    </hydrodynamic_model>
  </link>
  <link name="${namespace}/azimuth_link">
    <volume>${azimuth_volume}</volume>
    <box>
      <width>${azimuth_y}</width>
      <length>${azimuth_x}</length>
      <height>${azimuth_z}</height>
    </box>
    <hydrodynamic_model>
      <type>fossen</type>
    </hydrodynamic_model>
  </link>
  <link name="${namespace}/arm">
    <volume>${arm_volume}</volume>
    <box>
      <width>${arm_y}</width>
      <length>${arm_x}</length>
      <height>${arm_z}</height>
    </box>
    <hydrodynamic_model>
      <type>fossen</type>
    </hydrodynamic_model>
  </link>
  <link name="${namespace}/wrist">
    <volume>${wrist_volume}</volume>
    <box>
      <width>${wrist_y}</width>
      <length>${wrist_x}</length>
      <height>${wrist_z}</height>
    </box>
    <hydrodynamic_model>
      <type>fossen</type>
    </hydrodynamic_model>
  </link>
  <link name="${namespace}/gripper_base">
    <volume>${gripper_base_volume}</volume>
    <box>
      <width>${gripper_base_y}</width>
      <length>${gripper_base_x}</length>
      <height>${gripper_base_z}</height>
    </box>
    <hydrodynamic_model>
      <type>fossen</type>
    </hydrodynamic_model>
  </link>
</xacro:macro>

</robot>
