<launch>
    <arg name="uuv_name" />
    <arg name="arm_name" default="oberon4"/>
    <!-- Arm will only move while the RB button (XBox 360 controller) is pressed -->
    <arg name="deadman_button" default="5"/>
    <!-- The arm will not move if the LB button (XBox 360 controller) is pressed -->
    <arg name="exclusion_button" default="4"/>
    <arg name="gripper_open_button" default="1"/>
    <arg name="gripper_close_button" default="2"/>
    <arg name="home_button" default="7"/>
    <!-- Default joystick mapping (XBox 360 controller) -->
    <arg name="axis_azimuth" default="0"/>
    <arg name="axis_shoulder" default="1"/>
    <arg name="axis_wrist" default="3"/>

    <include file="$(find oberon4_control)/launch/joint_effort_controllers.launch">
      <arg name="uuv_name" value="$(arg uuv_name)"/>
      <arg name="arm_name" value="$(arg arm_name)"/>
    </include>

    <group ns="/$(arg uuv_name)/$(arg arm_name)">
      <!-- Starting the kinematics service node -->
      <node name="kinematics_service" pkg="uuv_manipulators_kinematics" type="kinematics_service.py"
        output="screen"/>

      <!-- Starting direct joint position control node -->
      <node name="joint_position_controller_$(arg arm_name)" pkg="uuv_manipulators_control" type="joint_position_controller.py"
        output="screen">
        <remap from="joy" to="/$(arg uuv_name)/joy"/>
        <rosparam subst_value="true">
          exclusion_buttons: $(arg exclusion_button)
          deadman_button: $(arg deadman_button)
          home_button: $(arg home_button)
          controller_config:
            azimuth:
              joint_input_axis: $(arg axis_azimuth)
              axis_gain: 0.008
              topic: /$(arg uuv_name)/$(arg arm_name)/azimuth/controller/command
              controller:
                p: 800
                i: 20
                d: 50
            shoulder:
              joint_input_axis: $(arg axis_shoulder)
              axis_gain: 0.008
              topic: /$(arg uuv_name)/$(arg arm_name)/shoulder/controller/command
              controller:
                p: 800
                i: 20
                d: 50
            wrist_joint:
              joint_input_axis: $(arg axis_wrist)
              axis_gain: 0.05
              topic: /$(arg uuv_name)/$(arg arm_name)/wrist_joint/controller/command
              controller:
                p: 400
                i: 2
                d: 5
        </rosparam>
      </node>

      <node name="gripper_controller_$(arg arm_name)"
            pkg="uuv_manipulators_control"
            type="gripper_controller.py"
            output="screen">
            <rosparam command="load" file="$(find oberon4_description)/params/gripper_config.yaml"/>
            <remap from="joy" to="/$(arg uuv_name)/joy"/>
            <rosparam subst_value="true">
              exclusion_buttons: $(arg exclusion_button)
              deadman_button: $(arg deadman_button)
              open_button: $(arg gripper_open_button)
              close_button: $(arg gripper_close_button)
              kp: 40
              ki: 5
              kd: 1
            </rosparam>
      </node>
    </group>

</launch>
