<?xml version="1.0"?>
<!-- Copyright (c) 2016 The UUV Simulator Authors.
     All rights reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="default_chemical_concentration_sensor"
    params="namespace parent_link *origin">
    <xacro:chemical_concentration_sensor_macro
      namespace="${namespace}"
      suffix=""
      parent_link="${parent_link}"
      input_topic="/plume/particles"
      output_topic="particle_concentration"
      gamma="0.001"
      radius="3.0">
      <xacro:insert_block name="origin" />
    </xacro:chemical_concentration_sensor_macro>
  </xacro:macro>

  <xacro:macro name="chemical_concentration_sensor_macro"
    params="namespace parent_link *origin suffix input_topic output_topic
            gamma radius">
    <!-- Sensor link -->
   <link name="${namespace}/cc_sensor_link">
     <inertial>
       <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
       <mass value="0.001" />  <!-- [kg] -->
       <origin xyz="0 0 0" rpy="0 0 0" />
     </inertial>
   </link>

   <joint name="${namespace}/cc_sensor_joint" type="revolute">
     <xacro:insert_block name="origin" />
     <parent link="${parent_link}" />
     <child link="${namespace}/cc_sensor_link" />
     <axis xyz="1 0 0"/>
     <limit upper="0" lower="0" effort="0" velocity="0" />
   </joint>

   <gazebo>
     <plugin filename="libuuv_gazebo_ros_chemical_concentration.so"
       name="chemical_concentration{suffix}_sensor">
       <robotNamespace>${namespace}</robotNamespace>
       <sensorTopic></sensorTopic>
       <linkName>${namespace}/cc_sensor_link</linkName>
       <plumeTopic>${input_topic}</plumeTopic>
       <sensorTopic>${output_topic}</sensorTopic>
       <updatePeriod>0.1</updatePeriod> <!-- Update period [s] -->
       <gamma>${gamma}</gamma>
       <radius>${radius}</radius>
     </plugin>
   </gazebo>
  </xacro:macro>


</robot>
