<launch>
  <arg name="joy_id" default="0"/>

  <include file="$(find uuv_descriptions)/models/rexrov/launch/upload_rexrov.launch">
    <arg name="mode" value="default"/>
    <arg name="namespace" value="rexrov"/>
    <arg name="x" value="35"/>
    <arg name="y" value="50"/>
    <arg name="z" value="-30"/>
  </include>

  <include file="$(find uuv_thruster_manager)/launch/thruster_manager.launch">
    <arg name="uuv_name" value="rexrov" />
    <arg name="model_name" value="rexrov" />
  </include>

  <group ns="rexrov">
    <rosparam file="$(find uuv_control_cascaded_pid)/config/rexrov/inertial.yaml" command="load"/>
    <rosparam file="$(find uuv_control_cascaded_pid)/config/rexrov/vel_pid_control.yaml" command="load"/>

  <node pkg="uuv_control_cascaded_pid" type="AccelerationControl.py" name="acceleration_control"
          output="screen">
    <param name="tf_prefix" type="string" value="rexrov/" />
  </node>

  <node pkg="uuv_control_cascaded_pid" type="VelocityControl.py" name="velocity_control"
        output="screen">
    <remap from="odom" to="/rexrov/pose_gt"/>
    <remap from="cmd_accel" to="/rexrov/cmd_accel"/>
  </node>

  <rosparam file="$(find uuv_control_cascaded_pid)/config/joy_vel.yaml" command="load" />
  <node pkg="joy_teleop" type="joy_teleop.py" name="joy_uuv_velocity_teleop" />

  <node pkg="joy" type="joy_node" name="joystick">
    <param name="autorepeat_rate" value="10" />
    <param name="dev" value="/dev/input/js$(arg joy_id)"/>
  </node>
  </group>

</launch>
