<?xml version="1.0" ?>
<!-- Copyright (c) 2016 Robert Bosch GmbH, Germany.
     All rights reserved.

    This file is licensed under the Apache 2.0 license found in the
    LICENSE file in the root directory of this source tree.

    Based on rov_bop_panel
-->
<model>
    <name>ROV BOP Panel Marker</name>
    <version>0.0.1</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Luiz Ricardo Douat</name>
        <email>LuizRicardo.Douat@de.bosch.com</email>
    </author>
    <description>ROV blow-out preventer panel with markers</description>
</model>
