<launch>
  <arg name="joy_id" default="0"/>

  <include file="$(find uuv_descriptions)/launch/rov_bop_panel.launch">
      <arg name="x" value="2.5"/>
      <arg name="y" value="0"/>
      <arg name="z" value="-4"/>
      <arg name="angle" value="3.14"/>
  </include>

  <include file="$(find uuv_gazebo)/launch/rexrov_demos/rexrov_oberon_arms_demo.launch">
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="-4"/>
    <arg name="joy_id" value="$(arg joy_id)"/>
  </include>
</launch>
