{% macro hydrodynamic_macro(
    fluid_density=1025,
    flow_velocity_topic='hydrodynamics/current_velocity',
    hydrodynamics_models=[]) %}
    <!-- The underwater object plugin is given as an input block parameter to
     allow the addition of external models of manipulator units -->
    <gazebo>
      <plugin name="uuv_plugin" filename="libuuv_underwater_object_ros_plugin.so">
        <fluid_density>{{ fluid_density }}</fluid_density>
        <flow_velocity_topic>{{ flow_velocity_topic }}</flow_velocity_topic>
        <debug>$(arg debug)</debug>
        <!-- Adding the hydrodynamic and hydrostatic parameters for the vehicle -->

        {% for model in hydrodynamics_models %}
            {{ model }}
        {% endmacro %}
      </plugin>
    </gazebo>
{% endmacro %}

