<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="acceleration_test_macro" params="link_name">
    <gazebo>
      <plugin name="${link_name}_test_plugin" filename="libuuv_accelerations_test_plugin.so">
        <link_name>${link_name}</link_name>
      </plugin>
    </gazebo>
  </xacro:macro>

  <!-- Default joint state publisher -->
  <xacro:macro name="default_joint_state_publisher" params="namespace update_rate">
    <gazebo>
      <plugin name="uuv_joint_state_publisher" filename="libuuv_joint_state_publisher.so">
        <robotNamespace>${namespace}</robotNamespace>
        <updateRate>${update_rate}</updateRate>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>
