<launch>
  <arg name="uuv_name" />
  <arg name="joy_id" default="0"/>
  <!-- Joystick mapping - default: XBox 360 controller -->
  <!-- To activate the vehicle teleop, the deadman button has to remain pressed -->
  <arg name="deadman_button" default="4"/>
  <arg name="axis_yaw" default="0"/>
  <arg name="axis_x" default="4"/>
  <arg name="axis_y" default="3"/>
  <arg name="axis_z" default="1"/>
  <arg name="gain_yaw" default="0.5"/>
  <arg name="gain_x" default="3.0"/>
  <arg name="gain_y" default="3.0"/>
  <arg name="gain_z" default="0.5"/>
  <arg name="output_topic" default="cmd_vel"/>
  <!-- The type of message can also be geometry_msgs/Accel -->
  <arg name="message_type" default="geometry_msgs/Twist"/>

  <group ns="$(arg uuv_name)">
    <rosparam subst_value="true">
      teleop:
        move:
          type: topic
          message_type: $(arg message_type)
          topic_name: $(arg output_topic)
          deadman_buttons: [$(arg deadman_button)]
          axis_mappings:
            -
              axis: $(arg axis_yaw)
              target: angular.z
              scale: $(arg gain_yaw)
            -
              axis: $(arg axis_z)
              target: linear.z
              scale: $(arg gain_z)
            -
              axis: $(arg axis_y)
              target: linear.y
              scale: $(arg gain_y)
            -
              axis: $(arg axis_x)
              target: linear.x
              scale: $(arg gain_x)
    </rosparam>

    <node pkg="joy_teleop" type="joy_teleop.py" name="joy_uuv_velocity_teleop" />

    <node pkg="joy" type="joy_node" name="joystick">
      <param name="autorepeat_rate" value="10" />
      <param name="dev" value="/dev/input/js$(arg joy_id)"/>
    </node>
  </group>
</launch>
