<launch>
  <arg name="uuv_name" />
  <arg name="arm_name" default="orion_7p"/>
  <arg name="joy_id" default="0"/>
  <arg name="deadman_button" default="right"/>
  <arg name="joy_model" default="xbox360" />

  <group ns="/$(arg uuv_name)/$(arg arm_name)">
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam command="load" file="$(find orion_7p_control)/config/parallel_gripper_controllers.yaml"/>

    <rosparam param="finger_left_joint/controller/joint" subst_value="true">
      $(arg arm_name)/finger_left_joint
    </rosparam>

    <rosparam param="finger_tip_left_joint/controller/joint" subst_value="true">
      $(arg arm_name)/finger_tip_left_joint
    </rosparam>
  </group>

  <group ns="$(arg uuv_name)">
    <!-- load the controllers -->
    <node name="controller_spawner_$(arg arm_name)_gripper"
          pkg="controller_manager"
          type="spawner"
          respawn="false"
          output="screen"
          ns="/$(arg uuv_name)"
          args="/$(arg uuv_name)/$(arg arm_name)/finger_left_joint/controller
                /$(arg uuv_name)/$(arg arm_name)/finger_tip_left_joint/controller"/>
  </group>

  <group ns="/$(arg uuv_name)/$(arg arm_name)">
    <node name="$(arg arm_name)_gripper_controller"
          pkg="uuv_manipulators_control"
          type="gripper_controller.py">
          <rosparam command="load" file="$(find orion_7p_description)/params/parallel_gripper_config.yaml"/>
    </node>

    <node name="gripper_teleop"
          pkg="uuv_manipulators_teleop"
          type="gripper_joy_teleop.py">
          <rosparam param="deadman_button" subst_value="true">$(arg deadman_button)</rosparam>
          <rosparam command="load" file="$(find uuv_manipulators_teleop)/config/joystick/$(arg joy_model).yaml"/>
    </node>
  </group>

</launch>
