<launch>
  <arg name="uuv_name" />
  <arg name="arm_name" default="oberon"/>

  <rosparam subst_value="true">
    $(arg uuv_name):
      $(arg arm_name):
        azimuth:
          controller:
            type: effort_controllers/JointEffortController
            joint: $(arg arm_name)/azimuth
            pid: {p: 10000, i: 2, d: 100}
        shoulder:
          controller:
            type: effort_controllers/JointEffortController
            joint: $(arg arm_name)/shoulder
            pid: {p: 10000, i: 2, d: 100}
        elbow:
          controller:
            type: effort_controllers/JointEffortController
            joint: $(arg arm_name)/elbow
            pid: {p: 10000, i: 2, d: 100}
        roll:
          controller:
            type: effort_controllers/JointEffortController
            joint: $(arg arm_name)/roll
            pid: {p: 5000, i: 0, d: 0}
        pitch:
          controller:
            type: effort_controllers/JointEffortController
            joint: $(arg arm_name)/pitch
            pid: {p: 5000, i: 0, d: 0}
        wrist:
          controller:
            type: effort_controllers/JointEffortController
            joint: $(arg arm_name)/wrist
            pid: {p: 5000, i: 0, d: 0}
  </rosparam>

  <group ns="$(arg uuv_name)">
    <!-- load the controllers -->
    <node name="controller_spawner_$(arg arm_name)"
          pkg="controller_manager"
          type="spawner"
          respawn="false"
          output="screen"
          ns="/$(arg uuv_name)"
          args="/$(arg uuv_name)/$(arg arm_name)/azimuth/controller
                /$(arg uuv_name)/$(arg arm_name)/shoulder/controller
                /$(arg uuv_name)/$(arg arm_name)/elbow/controller
                /$(arg uuv_name)/$(arg arm_name)/roll/controller
                /$(arg uuv_name)/$(arg arm_name)/pitch/controller
                /$(arg uuv_name)/$(arg arm_name)/wrist/controller"/>

  </group>
</launch>
