<launch>
  <arg name="uuv_name" default=""/>
  <arg name="arm_name" default="oberon"/>
  <arg name="gripper" default="dummy"/>
  <!-- Default joystick mapping set for the XBox 360 controller -->
  <arg name="exclusion_button" default="4"/>
  <arg name="deadman_button" default="5"/>
  <arg name="home_button" default="7"/>
  <arg name="axis_x" default="3"/>
  <arg name="axis_y" default="4"/>
  <arg name="axis_z" default="1"/>
  <arg name="axis_roll" default="6"/>
  <arg name="axis_pitch" default="7"/>
  <arg name="axis_yaw" default="0"/>
  <arg name="gripper_open_button" default="1"/>
  <arg name="gripper_close_button" default="2"/>

  <!-- Initialize effort controllers -->
  <include file="$(find oberon_control)/launch/joint_effort_controllers.launch">
    <arg name="uuv_name" value="$(arg uuv_name)"/>
    <arg name="arm_name" value="$(arg arm_name)"/>
  </include>

  <!-- Initialize gripper controllers -->
  <include file="$(find oberon_control)/launch/$(arg gripper)_gripper_controllers.launch">
    <arg name="uuv_name" value="$(arg uuv_name)"/>
    <arg name="arm_name" value="$(arg arm_name)"/>
    <arg name="exclusion_button" value="$(arg exclusion_button)"/>
    <arg name="deadman_button" value="$(arg deadman_button)"/>
    <arg name="open_button" value="$(arg gripper_open_button)"/>
    <arg name="close_button" value="$(arg gripper_close_button)"/>
  </include>

  <group ns="/$(arg uuv_name)/$(arg arm_name)">
    <node name="kinematics_service" pkg="uuv_manipulators_kinematics" type="kinematics_service.py"
      output="screen"/>
    <node name="cartesian_controller" pkg="uuv_manipulators_control" type="jt_cartesian_controller.py"
      respawn="false" output="screen">
      <remap from="joy" to="/$(arg uuv_name)/joy"/>
      <rosparam subst_value="true">
        cartesian_controller:
          publish_rate: 100
          gains:
            Kp:
              - 2000.0
              - 2000.0
              - 2000.0
              - 200.0
              - 200.0
              - 200.0
            Kd:
              - 100.0
              - 100.0
              - 100.0
              - 5.0
              - 5.0
              - 5.0
        exclusion_buttons: $(arg exclusion_button)
        deadman_button: $(arg deadman_button)
        home_button: $(arg home_button)
        axes:
          x: $(arg axis_x)
          y: $(arg axis_y)
          z: $(arg axis_z)
          roll: $(arg axis_roll)
          pitch: $(arg axis_pitch)
          yaw: $(arg axis_yaw)
      </rosparam>
    </node>

  </group>


</launch>
