<launch>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/mangalia_manipulation.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true" />
  </include>

  <node name="publish_world_models"
        pkg="uuv_assistants"
        type="publish_world_models.py"
        output="screen">
        <rosparam subst_value="true">
            meshes:
                mangalia:
                    mesh: package://uuv_descriptions/world_models/mangalia/meshes/MangaliaTerrain.dae
                    pose:
                      position: [-572.0074568380, 537.7086925743, -5]
                    scale: [1, 1, 2]
        </rosparam>
  </node>
</launch>
