<?xml version="1.0"?>
<!-- Copyright (c) 2016 The UUV Simulator Authors.
     All rights reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="gps_sensor_macro"
    params="namespace parent_link gps_topic mass_gps_sensor
    horizontal_pos_std_dev vertical_pos_std_dev horizontal_vel_std_dev
    vertical_vel_std_dev *inertia *origin update_rate">
      <!-- GPS link -->
     <link name="${namespace}/gps_link">
       <inertial>
         <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
         <mass value="${mass_gps_sensor}" />  <!-- [kg] -->
         <origin xyz="0 0 0" rpy="0 0 0" />
       </inertial>
     </link>

     <!-- GPS joint -->
    <joint name="${namespace}/gps_joint" type="revolute">
      <xacro:insert_block name="origin" />
      <parent link="${parent_link}" />
      <child link="${namespace}/gps_link" />
      <axis xyz="1 0 0"/>
      <limit upper="0" lower="0" effort="0" velocity="0" />
    </joint>

    <gazebo reference="${namespace}/gps_link">
      <sensor type="gps" name="${namespace}/gps">
        <pose>0 0 0 0 0 0</pose>
        <visualize>0</visualize>
        <always_on>1</always_on>
        <update_rate>${update_rate}</update_rate>
        <gps>
          <position_sensing>
            <horizontal>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>${horizontal_pos_std_dev}</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.0</bias_stddev>
              </noise>
            </horizontal>
            <vertical>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>${vertical_pos_std_dev}</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.0</bias_stddev>
              </noise>
            </vertical>
          </position_sensing>
          <velocity_sensing>
            <horizontal>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>${horizontal_vel_std_dev}</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.0</bias_stddev>
              </noise>
            </horizontal>
            <vertical>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>${vertical_vel_std_dev}</stddev>
                <bias_mean>0.0</bias_mean>
                <bias_stddev>0.0</bias_stddev>
              </noise>
            </vertical>
          </velocity_sensing>
        </gps>

        <plugin filename="libuuv_gazebo_ros_gps_plugin.so" name="${namespace}_gazebo_gps_ros_plugin">
          <robot_namespace>${namespace}</robot_namespace>
          <sensor_topic>${gps_topic}</sensor_topic>
          <horizontal_pos_std_dev>${horizontal_pos_std_dev}</horizontal_pos_std_dev>
          <vertical_pos_std_dev>${vertical_pos_std_dev}</vertical_pos_std_dev>
          <update_rate>${update_rate}</update_rate>
          <is_on>true</is_on>
          <enable_gazebo_messages>true</enable_gazebo_messages>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="default_gps" params="namespace parent_link">
    <!-- Default GPS configuration -->
    <xacro:gps_sensor_macro
      namespace="${namespace}"
      parent_link="${parent_link}"
      gps_topic="gps"
      update_rate="30"
      mass_gps_sensor="0.001"
      horizontal_pos_std_dev="0.0"
      vertical_pos_std_dev="0.0"
      horizontal_vel_std_dev="0.0"
      vertical_vel_std_dev="0.0">
      <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:gps_sensor_macro>
  </xacro:macro>
</robot>
