{% macro zero_order() %}
    <!-- Zero order model -->
    <dynamics>
        <type>ZeroOrder</type>
    </dynamics>
{% endmacro %}

{% macro first_order(time_constant) -%}
    <!-- Simple first-order model -->
    <dynamics>
      <type>FirstOrder</type>
      <timeConstant>{{ time_constant }}</timeConstant>
    </dynamics>
{%- endmacro %}

{% macro yoerger(alpha, beta) %}
    <!-- 
        Yoerger's nonlinear dynamic model
        For information on the model description:
            D. R. Yoerger, J. G. Cooke, and J.-J. E. Slotine, "The influence of
            thruster dynamics on underwater vehicle behavior and their incorporation
            into control system design," IEEE Journal of Oceanic Engineering, vol. 15,
            no. 3, pp. 167-178, Jul. 1990.
    -->
    <dynamics>
        <type>Yoerger</type>
        <alpha>{{ alpha }}</alpha>
        <beta>{{ beta }}</beta>
    </dynamics>
{% endmacro %}

{% macro bessa(Jmsp, Kv1, Kv2, Kt, Rm) %}
    <!-- 
        Bessa's nonlinear dynamic model
        For information on the model description:
            Bessa, Wallace Moreira, Max Suell Dutra, and Edwin Kreuzer. "Thruster
            dynamics compensation for the positioning of underwater robotic vehicles
            through a fuzzy sliding mode based approach." ABCM Symposium Series in
            Mechatronics. Vol. 2. 2006.
    -->
    <dynamics>
        <type>Bessa</type>
        <Jmsp>{{ Jmsp }}</Jmsp>
        <Kv1>{{ Kv1 }}</Kv1>
        <Kv2>{{ Kv2 }}</Kv2>
        <Kt>{{ Kt }}</Kt>
        <Rm>{{ Rm }}</Rm>
    </dynamics>
{% endmacro %}