<?xml version="1.0"?>
<!-- Oberon-7P Dummy Gripper (inspired on the Orion 7P Schilling Robotics Manipulator)
    Meshes and parameters a courtesy of Deutsche Forschungszentrum für
    Künstliche Intelligenz GmbH (DFKI)
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="mass_gripper" value="3.96" /> <!-- mass of Gripper (kg) - 54kg*0,001422/0,019395 = 3,96 kg -->
  <xacro:property name="xGr" value="0.240" /> <!-- Gripper - x dimension (m) - 0.240 -->
  <xacro:property name="yGr" value="0.120" /> <!-- Gripper - y dimension (m) - 0.120 -->
  <xacro:property name="zGr" value="0.120" /> <!-- Gripper - z dimension (m) - 0.120 -->

  <xacro:macro name="dummy_gripper" params="namespace parent">
    <link name="${namespace}/base_gripper">
      <inertial>
        <origin xyz="0.12 0 0" rpy="0 0 0"/>
        <mass value="${mass_gripper}"/>
        <inertia ixx="${mass_gripper / 12.0 * (yGr*yGr + zGr*zGr)}" ixy="0.0" ixz="0.0"
                 iyy="${mass_gripper / 12.0 * (xGr*xGr + zGr*zGr)}" iyz="0.0"
                 izz="${mass_gripper / 12.0 * (xGr*xGr + yGr*yGr)}"/>
      </inertial>

      <visual>
          <origin rpy="0 0 0" />
          <geometry>
              <mesh filename="file://$(find oberon_description)/meshes/grippers/dummy/oberon_greifer.dae" scale="1 1 1"/>
          </geometry>
      </visual>

      <collision>
        <xacro:if value="${use_mesh_file}">
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="file://$(find oberon_description)/meshes/grippers/dummy/oberon_greifer.stl" scale="1 1 1" />
          </geometry>
        </xacro:if>
        <xacro:unless value="${use_mesh_file}">
          <origin xyz="${0.5*xGr} 0 0" rpy="0 0 0" />
          <geometry>
            <box size="${xGr} ${yGr} ${zGr}"/>
          </geometry>
        </xacro:unless>
      </collision>
    </link>

    <gazebo reference="${namespace}/base_gripper">
      <selfCollide>false</selfCollide>
    </gazebo>

    <joint name="${namespace}/end_effector_anchor_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${namespace}/base_gripper"/>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit effort="0" lower="0" upper="0" velocity="0"/>
    </joint>

    <xacro:dummy_link name="${namespace}/grasp"/>

    <gazebo reference="${namespace}/grasp">
      <selfCollide>false</selfCollide>
    </gazebo>

    <joint name="${namespace}/GraspDefinitionPoint" type="fixed">
      <parent link="${namespace}/base_gripper"/>
      <child link="${namespace}/grasp"/>
      <origin xyz="0.150 0.0 0.0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit effort="0" lower="0" upper="0" velocity="0"/>
    </joint>

  </xacro:macro>

</robot>
