<?xml version='1.0'?>
<!-- Copyright (c) 2016 Robert Bosch GmbH, Germany.
     All rights reserved.

    This file is licensed under the Apache 2.0 license found in the
    LICENSE file in the root directory of this source tree.
-->
<model>
  <name>M/S Herkules Ship Wreck</name>
  <version>0.0.1</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Musa Marcusso</name>
    <email>musa.marcusso@de.bosch.com</email>
  </author>
  <author>
    <name>Thomas Winkler</name>
    <email>thomas.winkler3@de.bosch.com</email>
  </author>
  <description>
    Ship wreck of the M/S Herkules
  </description>
</model>
