<launch>
    <arg name="uuv_name"/>
    <arg name="arm_name"/>

    <arg name="use_joy" default="true"/>
    <arg name="input_device" default="xbox360" />
    <arg name="coordinate_system" default="cartesian" />
    <arg name="joy_id" default="0" />
    <arg name="tstep" default="1"/>
    <arg name="rstep" default="1"/>


    <group ns="/$(arg uuv_name)/$(arg arm_name)">
        <group if="$(arg use_joy)">
          <rosparam file="$(find uuv_manipulators_teleop)/config/joystick/$(arg input_device).yaml" command="load"/>
        </group>

        <rosparam file="$(find uuv_manipulators_teleop)/config/cartesian_controller/$(arg input_device).yaml" command="load"/>

        <!-- Initialize the coordinate system in which the pilot will operate -->
        <rosparam param="cartesian_controller/coordinate_system" subst_value="true">
          $(arg coordinate_system)
        </rosparam>

        <group if="$(arg use_joy)">
          <node pkg="joy" type="joy_node" name="joystick">
              <param name="autorepeat_rate" value="10" />
              <param name="dev" value="/dev/input/js$(arg joy_id)"/>
          </node>

          <node pkg="uuv_manipulators_teleop" type="cartesian_teleop.py"
                name="manipulator_cartesian_teleop"
                output="screen">
                <param name="tstep" value="$(arg tstep)"/>
                <param name="rstep" value="$(arg rstep)"/>
                <param name="deadman_button" value="right"/>
          </node>
        </group>

        <group unless="$(arg use_joy)">
          <node pkg="uuv_manipulators_teleop" type="cartesian_keyboard_teleop.py"
                name="manipulator_cartesian_teleop"
                output="screen"
                args="--namespace $(arg uuv_name) --arm $(arg arm_name) --tstep $(arg tstep) --rstep $(arg rstep)"/>
        </group>

    </group>
</launch>
