<?xml version="1.0"?>
<model>
  <name>Oberon 7</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Musa Morena Marcusso Manhaes</name>
    <email>Musa.Marcusso@de.bosch.com</email>
  </author>

  <description>
    Oberon 7 robotic manipulator
  </description>
</model>